[submodule "msgpack-c"]
	path = msgpack-c
	url = https://github.com/ubirch/msgpack-c.git
[submodule "ubirch-protocol"]
	path = ubirch-protocol
	url = https://github.com/ubirch/ubirch-protocol.git
[submodule "ubirch-mbed-nacl-cm0"]
	path = ubirch-mbed-nacl-cm0
	url = https://github.com/ubirch/ubirch-mbed-nacl-cm0.git
